MYSQL_DATABASE=aecp
MYSQL_USER=aecp
MYSQL_PASSWORD=aecp_dev_password
MYSQL_ROOT_PASSWORD=aecp_root_password

AECP_DB_URL=jdbc:p6spy:mysql://localhost:3306/aecp?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
AECP_DB_USERNAME=aecp
AECP_DB_PASSWORD=aecp_dev_password
AECP_REDIS_ADDRESS=redis://localhost:6379
AECP_REDIS_TIMEOUT=3000
AECP_APPLICATION_NAME=AECP
AECP_SERVER_PORT=8080
